.elif-card {
    border-radius: 10px;
    background-color: #ececec;
    display: flex;
    margin-top: 23px;
    width: 100%;
    max-width: 450px;
    flex-direction: column;
    color: #404958;
    text-align: justify;
    padding: 20px 15px;
}

.elif-title {
    font: 800 18px "Noto Sans", sans-serif;
}
.elif-content {
    margin-top: 10px;
    font: 400 12px/20px "Noto Sans", sans-serif;
}