.whatif-card {
    border-radius: 10px;
    background-color: #d9d9d9;
    display: flex;
    margin-top: 23px;
    width: 100%;
    max-width: 450px;
    flex-direction: column;
    color: #404958;
    text-align: justify;
    padding: 20px 15px;
}

.whatif-title {
    border-radius: 50px;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    font: 800 18px "Noto Sans", sans-serif;
}

.whatif-img > img {
    justify-content: center;
    max-height: 200px;
}

